<!DOCTYPE HTML>

<html>
<head>
	<title>Weather</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/js/weather-controller.js"></script>
</head>
<body>
	<div class="container" style="margin: 10px 10px 10px 10px;background-color: #d60270;">
		<div class="form-group" style="font-size: 30px; font-weight: bold; color: #ffffff">Weather Now!</div>
		<div class="form-group">
			<form class="form-inline" id="weatherForm">
				<div class="form-group">
					<input type="text" class="form-control" id="cityName" placeholder="City name" size="20"/>
				</div>
				<button type="submit" class="btn btn-default" style="margin-right: 5px">Get Weather!</button>
			</form>
		</div>

		<div class="form-group" id="postLocation" style="font-size: 19px; font-weight: bold; color: #ffffff"></div>
		<div class="form-group" id="postTemperatura" style="font-size: 15px; color: #ffffff"></div>
		<div class="form-group" id="postCondition" style="font-size: 15px; color: #ffffff"></div>
	</div>
</body>
</html>